<div class="center">
        
        <h3><%=foundCategory.name%> </h3>
        <h4><%=foundCategory.description%> </h4>
        
        <div class="flex-box">
        <% categoriesAlbums.forEach(album => { %>
                <div class="album-container">
                <p><%= album.title %> by <%= album.artist %> <p> 
                <img src=" <%= album.img_url %>" width="250" alt=" <%=album.title %> image">
                </div>
        <% }) %>
        </div>
</div>