<h2><%= results.title %> by <%= results.artists[0].name  %></h2>

<img src=" <%= results.images[0].uri%>" width="500px" alt="album cover image">

<ul><h3>Track Listing:</h3>
    <% results.tracklist.forEach(track=>{%>
            <li><%= track.position %>
                <%= track.title %> 
            </li>
    <%}) %> 
</ul>

<p><%= results.notes %> </p>

<% if (user) { %>
    <form action="/users/<%= user.id %>/album" method="post">
        <label for="bookmark"></label>
        <input hidden type="text" name="title" value="<%= results.title %>">
        <input hidden type="text" name="artist" value="<%= results.artists[0].name %>">
        <input hidden type="text" name="artist_id" value="<%= results.artists[0].id %>">
        <input hidden type="text" name="album_id" value="<%= results.id %>">
        <input hidden name="img_url" value="<%= results.images[0].uri%>" >
        
        <input type="submit" value="Add to Collection">
    </form>
<% } %> 

<!-- <form method="post" action="/">
    <label for="comment"></label>
    <input type="text" id="comment" placeholder="make a comment" name="">
    <input type="submit">
</form> -->