<h2>Artist Profile</h2>

<h4><%= artist.name %> </h4>

<div>
    <% for( let i = 0; i < artist['images'].length; i++ ) { %>
        <img src="<%=artist['images'][i].uri%>" width=100 alt="artist image"> 
        <% } %>
    </div>
    
    <p><%= artist.profile %> </p>
    
    <a href="/results/<%=artist.id%>"><button type="button" class="btn btn-success">See Albums</button></a>
<!-- <ul> <h4>Groups: </h4>
<% //for( let i = 0; i < artist['groups'].length; i++ ) { %>
   <li><%=//artist['groups'][i].name%></li>
<% //} %>
</ul> -->
