<h2><%= results.title %> by <%= results.artists[0].name  %></h2>

<img src=" <%= results.images[0].uri%>" width="500px" alt="album cover image">

<ul>Track Listing:
    <% results.tracklist.forEach(track=>{%>
            <li><%= track.position %>
                <%= track.title %> 
            </li>
    <%}) %> 
</ul>

<form action="/profile" method="post">
    <label for="bookmark"></label>
    <input type="submit" value="Add to Collection">
</form>

<form method="post" action="/releases">
    <label for="comment"></label>
    <input type="text" id="comment" placeholder="make a comment" name="">
    <input type="submit">
</form>